.center {
  text-align: center;
}

#mainTitle {
  color: #00897b;
}

#subtitle {
  color: #00564d;
}

#title {
  color: #969696;
}

#description {
  color: #363636;
}

body {
  background-color: #141414;
}



